{% load static %}

<nav>
  <div>
    <a href="{% url 'index' %}">
      <h2>Telegram Registration </h2>
    </a>
      <span>
  {% if request.user.is_authenticated %}
          <ul>
              <ul>
                <a role="button" aria-current="page" href="{% url 'account' account.id %}">Account</a>
              </ul>
          </ul>
  {% endif %}
      </span>

  <span>
      <ul>
          {% if request.user.is_authenticated %}

        <ul>
            <ul>
              <a href="{% url 'logout' %}">Logout</a>
          </ul>
        </ul>
      {% else %}
       <ul>
          <ul>
              <a href="{% url 'login' %}">Login</a>
          </ul>

       </ul>
      {% endif %}

    </ul>
  </span>
  </div>
</nav>
